doctype html
html
    block head
        head 
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0') 
            <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://unpkg.com;">
            <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://cdn.jsdelivr.net;">

            link(rel='stylesheet', href='/css/style.css')
            link(rel='shortcut icon', href='/img/favicon.png', type='image/png')
            link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
            


    title Natours | #{title}
    body 
        include _header
        //- CONTENT PAGE
        //- section.overview
        //-     hi=tour
        block content 
            h1 This is the placeholder heading

            //-HEADER
        include _footer

        script(src="/js/axios.min.js")
        //- script(src="/js/mapbox.js")
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js' integrity='sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==' crossorigin='anonymous' referrerpolicy='no-referrer')
 
        //- script(src="/leaflet/leaflet.js")
        script(src="/js/bundle.js")

















